<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hm.book.mapper.CategoryMapper">
    <resultMap id="BaseCategoryResultMap" type="Category">
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <insert id="addCategory" parameterType="Category">
        insert into category(name,create_time,update_time)
        values (#{name},#{createTime},#{updateTime});
    </insert>
</mapper>